<fieldset>
  <legend><h4>Create Push</h4></legend>
  <p>
    <label for="dummy0"><input type="radio" name="new_type" value="new" checked="checked">Create a new push</label><br>
    <%= f.text_field :name %>
  </p>
  <hr/>

  <p>
    <label for="dummy1"><input type="radio" name="new_type" value="copy">Copy an existing push</label><br>
    <%= select_tag(:copy_push_id, options_from_collection_for_select(Push.with_user, :id, :name)) %>
  </p>

  <p>
    <%= text_field_tag :copy_push_name %>
  </p>
  <br/>

  <p>
    <input type="reset" value="Cancel">
    <%= f.submit :value=>"Continue" %>
  </p>
</fieldset>
<% content_for :note_sidebar do %>
<fieldset>
          <legend><h4>Note</h4></legend>
          <ul id="content">
              <p>Create a new push是创建发送一次成功的营销邮件入口；一次完整的邮件营销需要与Address Book（导入邮件地址列表），Design（上传EDM设计）相互衔接；邮件发送后即可以查阅详细的回馈信息；每创建一次Push即在My Push页面建立一条数据，可以随时查阅。</p>

                <%= link_to image_tag("help/push.png", :class=>"push"), root_url %>
          </ul>
        </fieldset>
<% end %>