	<br /><br />
	<div class="span-24">
        <%= form_for @push do |f|%>
		<h3>Push Name:<%= @push.name %></h3>
        <fieldset> 
            <div class="span-24">
                <h6>Category&nbsp;&nbsp;&nbsp;&nbsp;<%= f.select "category_id",options_from_collection_for_select(Category.all, :id, :name) %></h6>
                <h6>Folder Management&nbsp;&nbsp;&nbsp;&nbsp;<%= f.select "folder_id",options_from_collection_for_select(Folder.all, :id, :name) %></h6>
                <h6>Comment</h6>
                <%= f.text_area "comment" %>
                <br />
            	<%= f.submit "Save" %>
            </div>
            <%= render "address_book" %>

        </fieldset>
        <%end %>
      </div>

