<br/><br/>
<div class="span-12">
  <%= form_for(@push) do |f| %>
      <% if @push.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@push.errors.count, "error") %> prohibited this push from being saved:</h2>

            <ul>
              <% @push.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <%= render "#{@push.step}", :f => f %>
      </form>
      </div>
      <div class="span-12 last">
        <fieldset>
          <legend><h4>Note</h4></legend>
          <ul id="content">
              <li class="conFocus"><p></p><p>Create a new push是创建发送一次成功的营销邮件入口；一次完整的邮件营销需要与Address Book（导入邮件地址列表），Design（上传EDM设计）相互衔接；邮件发送后即可以查阅详细的回馈信息；每创建一次Push即在My Push页面建立一条数据，可以随时查阅。</p>

                <%= link_to image_tag("help/pushhelpa.png", :class=>"pushhelpa"), root_url %>
              </li>
              <li><p></p><p>Copy an existing push是重新发送一次成功的历史营销邮件入口；它记忆了历史Address Book和Design信息也可以替换它们，在某种意义上这只是一个优化用户体验的操作。</p>
                <%= link_to image_tag("help/pushhelpb.png", :class=>"pushhelpb"), root_url %>
              </li>
              <li><p></p><p>Push title建议使用唯一命名</p>
			      <p>有任何问题请点击<a href="#">在线帮助</a>，随时解答你的疑问。</p>

			  </li>
          </ul>
          <hr />
          <ul id="menu">
              <li class="tabFocus">Create Push</li>
              <li>Copy Push</li>
              <li>Other Note</li>
          </ul>
        </fieldset>
      </div>
  <% end %>

