<br/><br/>
<div class="span-24">
  <fieldset>
    <legend><h4>Push Name:<%= @push.name %></h4></legend>
    <div class="span-24">
      <h6>Category&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#666"><em><%= @push.category.name %></em></span>&nbsp;&nbsp;&nbsp;&nbsp;
      </h6>
      <h6>Folder Management&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#666"><em>Red Folder</em></span>&nbsp;&nbsp;&nbsp;&nbsp;
      </h6>
      <h6>Remarks&nbsp;&nbsp;&nbsp;&nbsp;
      </h6>
      <abbr style="color:#666"><%= @push.comment %></abbr>
    </div>
    <hr class="space">
    <hr/>
    <div class="span-24">
      <h6>Email Subject&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#666"><em><%= @push.subject %></em></span>&nbsp;&nbsp;&nbsp;&nbsp;
      </h6>
      <h6>From Email&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#666"><em><%= @push.from_email %></em></span>&nbsp;&nbsp;&nbsp;&nbsp;
      </h6>
      <h6>Reply-To Email&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#666"><em><%= @push.reply_to_email %></em></span>&nbsp;&nbsp;&nbsp;&nbsp;
      </h6>
      <h6>Email Signature&nbsp;&nbsp;&nbsp;&nbsp;
      </h6>
      <h6 style="float:right"><a href="./pushshowedita.html">----Edit</a></h6>
      <abbr style="color:#666"><%= @push.signature %></abbr>
    </div>
    <%= render "address_book" %>
    <hr class="space">
    <hr/>
    <% if @push.status.nil? || Rails.env == "development" %>
        <script type="text/javascript">
            $(document).ready($.enhanceFormsBehaviour);
        </script>
        <%= form_tag start_push_path(@push) do %>
            <%= double_submit_token %>
            <% if flash[:test_notice].present? %> <p class="error"><%= flash[:test_notice] %></p> <%end%>
            <%= submit_tag "Start Push", :name=>"start_push" %>
            &nbsp;&nbsp;OR&nbsp;&nbsp;Send A Test Email:&nbsp;&nbsp;
            <%= text_field_tag :email, params[:email]%>  <%= submit_tag "Test with Email", :name=>"test_email" %>
        <% end %>
    <% end %>
  </fieldset>
  <% if @push.status.present? %>
      <fieldset>
        <h2 style="color:#999">Feedback</h2>
        <script>
  $(document).ready(function() {
    $("#tabs").tabs({
   cache:true,
   load: function (e, ui) {
     $(ui.panel).find(".tab-loading").remove();
   },
   select: function (e, ui) {
     var $panel = $(ui.panel);

     if ($panel.is(":empty")) {
         $panel.append("<div class='tab-loading'>Loading...</div>")
     }
    }
 });
  });
  </script>

        <hr/>

        <div id="tabs">
	<ul>
		<li><a href="#tabs-1">Basic Info</a></li>
		<li><%= link_to "Register&Click Info", :type=>"register"%></li>
		<li><%= link_to "Data Export", :type=>"export"%></li>
	</ul>
	<div id="tabs-1">
		<h3>Basic Info</h3>
             	<p></p>
                <p>邮件发送总数--<%= @push.address_book.contacts_count %></p>
                <p>已送达邮件数--<%= @info["delivered"].count rescue 0 %> </p>
                <p>未送达邮件数--<%= @info["bounce"].count rescue 0 %></p>
              <h3>Open Info</h3>
              	<p></p>
                <p>已打开邮件数--<%= @info["open"].count rescue 0 %></p>
                <p>已点击邮件数--<%= @info["click"].count rescue 0 %></p>
        <hr class="space" />
        <h2 style="color:#999">Pie</h2>
        <%#= image_tag url_for(:action=>"show_data", :type=>"pie") %>
      <img src="data:image/jpg;base64,<%=@pie_chart%>" />
        <h2 style="color:#999">List</h2>
      <img src="data:image/jpg;base64,<%=@bar_chart%>" />
	</div>
</div>




      </fieldset>
  <% end %>


</div>
