<br/><br/>
<div class="span-24">

  <h3>Push Name:<%= @push.name %></h3>
  <fieldset>
    <div class="span-24">
      <h6>Category&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#666"><em><%= @push.category.name %></em></span>&nbsp;&nbsp;&nbsp;&nbsp;
        <% if @push.date_push.nil? %><%= link_to "Edit", edit_push_path(@push) %>
        <% end %></h6>
      <h6>Folder Management&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#666"><em>Red Folder</em></span>&nbsp;&nbsp;&nbsp;&nbsp;
        <% if @push.date_push.nil? %><%= link_to "Edit", edit_push_path(@push) %>
        <% end %></h6>
      <h6>Remarks&nbsp;&nbsp;&nbsp;&nbsp;
        <% if @push.date_push.nil? %><%= link_to "Edit", edit_push_path(@push) %>
        <% end %></h6>
      <abbr style="color:#666"><%= @push.comment %></abbr>
    </div>
    <hr class="space">
    <hr/>
    <div class="span-24">
      <h6>Email Subject&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#666"><em><%= @push.subject %></em></span>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to_if @push.date_push.nil?, "Edit", edit_push_path(@push) %>
      </h6>
      <h6>From Email&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#666"><em><%= @push.from_email %></em></span>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to_if @push.date_push.nil?, "Edit", edit_push_path(@push) %>
      </h6>
      <h6>Reply-To Email&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#666"><em><%= @push.reply_to_email %></em></span>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to_if @push.date_push.nil?, "Edit", edit_push_path(@push) %>
      </h6>
      <h6>Email Signature&nbsp;&nbsp;&nbsp;&nbsp;<a href="./pushshowedita.html">Edit</a></h6>
      <abbr style="color:#666"><%= @push.signature %></abbr>
    </div>
    <%= render "address_book" %>
    <hr class="space">
    <hr/>
    <% if @push.date_push.nil? || Rails.env == "development" %>
        <script type="text/javascript">
            $(document).ready($.enhanceFormsBehaviour);
        </script>
        <%= form_tag start_push_path(@push) do %>
            <%= double_submit_token %>
            <%= submit_tag "Start Push" %>
        <% end %>
    <% end %>
  </fieldset>
  <% if @push.date_push.present? %>
      <fieldset>
        <h2 style="color:#999">Feedback</h2>
        <hr/>
        <%= link_to "已送达邮件",export_push_path(@push, :type=>'delivered') %><br/>
        <%= link_to "打开",export_push_path(@push, :type=>'open') %><br/>
        <%= link_to "点击",export_push_path(@push, :type=>'click') %><br/>
        <%= link_to "弹回",export_push_path(@push, :type=>'bounce') %><br/>
        <%= link_to "邮件退订",export_push_path(@push, :type=>'unsubscribe') %><br/>
        <%= link_to "垃圾邮件投诉",export_push_path(@push, :type=>'spamreport') %><br/>
        <hr class="space"/>
        <h2 style="color:#999">Mail Hits</h2>
        <img src="./img/feedback2.png"/>

        <h2 style="color:#999">URL Hits</h2>
        <img src="./img/feedback1.png"/>
      </fieldset>
  <% end %>


</div>
