<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Sign in</title>
  <style type="text/css">
      .bg-login {
          z-index: 1;
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          background: #191919;
          height: 100%;
          position: absolute;
          top: 0;
      }

      .login img {
          padding-left: 14px;
      }

      .login {
          z-index: 2;
          width: 500px;
          height: 300px;
          border: 1px solid #FFF;
          background-color: #CCC;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -120px; /* negative half of the height */
          margin-left: -250px;
      }

      .login-text {
          padding-left: 20px;
      }
  </style>
  <%= stylesheet_link_tag "blueprint/screen", "demo_table" %>
  <%= stylesheet_link_tag "blueprint/print", :media=>"print" %>

  <!--[if lt IE 8]>
     <%= stylesheet_link_tag "blueprint/ie", :media=>"screen, projection" %>
    <![endif]-->

</head>

<body>
<div class="bg-login">
  <div class="login">
    <%= link_to image_tag("logo.png", :class=>"logo"), root_url %>
    <div class="login-text">
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>


          <p>
            <%= f.label :email %><br/>
            <%= f.email_field :email %>

          </p>

          <p><%= f.label :password %><br/>
            <%= f.password_field :password %></p>


          <% if devise_mapping.rememberable? -%>
              <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
          <% end -%>

          <p><%= f.submit "Sign in" %></p>
      <% end %>
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
          <%= link_to "Forgot your password?", new_password_path(resource_name) %>
          <br/>
      <% end -%>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
  </div>
</div>

</body>
</html>
