<p id="notice"><%= notice %></p>

<p>
  <b>Area:</b>
  <%= @contact.area %>
</p>

<p>
  <b>Province:</b>
  <%= @contact.province %>
</p>

<p>
  <b>City:</b>
  <%= @contact.city %>
</p>

<p>
  <b>Company:</b>
  <%= @contact.company %>
</p>

<p>
  <b>Industry:</b>
  <%= @contact.industry %>
</p>

<p>
  <b>Name:</b>
  <%= @contact.name %>
</p>

<p>
  <b>Gender:</b>
  <%= @contact.gender %>
</p>

<p>
  <b>Department:</b>
  <%= @contact.department %>
</p>

<p>
  <b>Position:</b>
  <%= @contact.position %>
</p>

<p>
  <b>Area code:</b>
  <%= @contact.area_code %>
</p>

<p>
  <b>Phone:</b>
  <%= @contact.phone %>
</p>

<p>
  <b>Ext:</b>
  <%= @contact.ext %>
</p>

<p>
  <b>Fax:</b>
  <%= @contact.fax %>
</p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Mobile:</b>
  <%= @contact.mobile %>
</p>

<p>
  <b>Address:</b>
  <%= @contact.address %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @contact.zipcode %>
</p>

<p>
  <b>Employee number:</b>
  <%= @contact.employee_number %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
