<hr class="space"/>
<h2 style="color:#999">My Account</h2>
<hr/>
<div class="span-24">
  <p>Account Information & Change Password</p>
</div>
<hr/>
<div id="container">
  <h4>Company:&nbsp;&nbsp;&nbsp;&nbsp;--&nbsp;&nbsp;&nbsp;&nbsp;<em><%= @user.company %></em></h4>
  <h4>Department:&nbsp;&nbsp;&nbsp;&nbsp;--&nbsp;&nbsp;&nbsp;&nbsp;<em><%= @user.department %></em></h4>
  <h4>Email:&nbsp;&nbsp;&nbsp;&nbsp;--&nbsp;&nbsp;&nbsp;&nbsp;<em><%= @user.email %></em></h4>
  <h4>Name:&nbsp;&nbsp;&nbsp;&nbsp;--&nbsp;&nbsp;&nbsp;&nbsp;<em><%= @user.name %></em></h4>


</div>

<%= link_to "Change Password",:action=>"edit_password" %>
