<br/><br/>
<div class="span-12">
  <%= form_for @address_book, :url => import_address_book_path(@address_book),:html=>{:multipart=>true} do |f| %>
      <% if @address_book.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@address_book.errors.count, "error") %> prohibited this AddressBook from being saved:</h2>

            <ul>
              <% @address_book.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <fieldset>
        <h3>Add Contacts to <span style="color:#06C"><%= link_to @address_book.name,@address_book %></span></h3>
        <h6>Enter Contacts to be Added</h6>

        <p>Copy and paste in your list of contacts, one contact per line. If you are importing other fields, separate
          them by commas, and follow the guidelines below. NOTE: Duplicate emails will automatically be filtered
          out.</p>
        <%= text_area_tag "contacts",@contacts_value %>

        <p>Field Order: email,firstname,lastname,name - 255 characters or less firstname - 50 characters or less
          lastname - 50 characters or less Custom Data - 1000 characters or less Example #1: tjones@myemail.com, tom,
          jones, 1001 Example #2: tjones@myemail.com,,,1001</p>

        <p><%= f.submit "Add Contacts",:name => "add_contact" %></p>
        <hr/>

        <p>
          <label for="dummy1">Add File</label><br>
          <%= file_field_tag "file" %><%= f.submit "Upload", :name=>"upload" %>
        </p>
        <hr/>
        <p><%= link_to "Back To Address Book", address_books_path %></p>

      </fieldset>
  <% end %>
</div>
<div class="span-12 last">
  <fieldset>
    <legend><h3>Note</h3></legend>
    <p>
      <caption><em>Blueprint is a CSS framework, which aims to cut down on your development time. It gives you a solid
        foundation to build your project on top of, with an easy-to-use grid, sensible typography, useful plugins, and
        even a stylesheet for printing.</em></caption>
    </p>
    <p>Blueprint is a CSS framework, which aims to cut down on your development time. It gives you a solid foundation to
      build your project on top of, with an easy-to-use grid, sensible typography, useful plugins, and even a stylesheet
      for printing.</p>

    <p>Blueprint is a CSS framework, which aims to cut down on your development time. It gives you a solid foundation to
      build your project on top of, with an easy-to-use grid, sensible typography, useful plugins, and even a stylesheet
      for printing.</p>

    <p>Blueprint is a CSS framework, which aims to cut down on your development time. It gives you a solid foundation to
      build your project on top of.</p>
  </fieldset>




