
    <div class="span-3">
        <%= link_to "+Add New List", new_address_book_path(:type=>"new") %>
    </div>
    <hr class="space" />
    <h2 style="color:#999">Address Book</h2>
    <hr />
    <div class="span-24">
	    <p>Address Book Below is a summary of the lists that are currently in your account. To view the details or modify an existing list, just click the name. To add a new list, simply click "Add New List".</p>
    </div>
    <hr />
	<div id="container">
		<div id="demo">
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="datagrid">
                <thead>
                    <tr>
                        <th>List Name</th>
                        <th>Total Count</th>
                        <th>Date Created</th>
                        <th>Date Modified</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% @address_books.each do |address_book| %>
                    <tr class="gradeX">
                        <td><%= link_to address_book.name, address_book %></td>
                        <td><%= address_book.contacts_count %></td>
                        <td><%= address_book.created_at %></td>
                        <td class="center"><%= address_book.updated_at %></td>
                        <td class="center">
                          <%= link_to "Export", export_address_book_path(address_book)%>
                          &nbsp;&nbsp;|&nbsp;&nbsp;
                          <%= link_to 'Delete', address_book, :confirm => 'Are you sure?', :method => :delete %>
                        </td>
                    </tr>
                   <% end %>

                </tbody>
                <tfoot>
                    <tr>
                        <th>List Name</th>
                        <th>Total Count</th>
                        <th>Date Created</th>
                        <th>Date Modified</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="spacer"></div>
      </div>
