    <br />
    <br />
    <hr />
    <div class="span-12 border">
        <h2>List Summary</h2>
        <h6>List Name&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#666"><em><%= @address_book.name %></em></span>&nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to "Edit Name", edit_address_book_path(@address_book) %></h6>
        <h6>Modified On&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#666"><em><%= @address_book.updated_at %></em></span></h6>
        <h6>Total Count&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#666"><em><span style="color:#F60"><%= @address_book.contacts_count || 0 %>&nbsp;&nbsp;</span>contact</em></span></h6>
    </div>
    <div class="span-12 last">
    <hr class="space" />
        <h6><%= link_to "+Import Contacts",  import_address_book_path(@address_book)%></h6>
        <h6><%= link_to "!Export Contacts", export_address_book_path(@address_book) %></h6>
    </div>
    <hr class="space">
    <hr />
	<div id="container">		
		<div id="demo">
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                <thead>
                    <tr>
                        <th>Delete</th>
                        <th>Modify</th>
                        <th>Email Address</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <% @address_book.contacts.each do |contact| %>
                    <tr class="gradeX">
                        <td><%= link_to image_tag("delete.png"), contact, :confirm => 'Are you sure?', :method => :delete %> </td>
                        <td><%= link_to image_tag("modify.png"), edit_contact_path(contact) %></td>
                        <td class="center"><%= contact.email %></td>
                        <td class="center"><%= contact.lastname %></td>
                        <td class="center"><%= contact.firstname %></td>
                        <td class="center"><%= contact.name %></td>
                    </tr>
                    <% end %>

                </tbody>
                <tfoot>
                    <tr>
                        
                        <th>Delete</th>
                        <th>Modify</th>
                        <th>Email Address</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Name</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="spacer"></div>		
      </div>


